:root {
  --default-font: "Bellota Text", cursive;
  --default-color: #d5def5;
}

body {
  background-color: #fafbff;
}

.about-info-form {
  margin: 50px;
}

.about-heading {
  text-align: center;
  font-family: var(--default-font);
  font-size: 60px;
}

.about-info {
  font-family: var(--default-font);
  font-size: 30px;
  margin: 50px;
  text-align: center;
}

.col-md {
  display: flex;
  justify-content: space-evenly;
}

.abort {
  max-width: 60%;
  padding: 20px;
}

.kiss {
  max-width: 70%;
  padding: 20px;
}

p {
  font-family: var(--default-font);
}

.sub-info {
  background-color: var(--default-color);
  margin: 30px;
  border-radius: 30px;
}

img {
  border-radius: 30px;
}

.sub-info-p {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.logo,
.home,
.about,
.my-art,
.contact {
  font-family: var(--default-font);
}

.home,
.about,
.my-art,
.contact {
  transition: all 200ms ease;
}

.home:hover {
  transform: scale(0.9);
}

.about:hover {
  transform: scale(0.9);
}

.my-art:hover {
  transform: scale(0.9);
}

.contact:hover {
  transform: scale(0.9);
}

.link {
  display: flex;
  justify-content: center;
  margin: 30px;
  gap: 20px;
}

.logo-inst {
  max-width: 2%;
  height: auto;
}

.rock {
  font-size: 20px;
  font-style: italic;
  color: black;
  text-decoration: none;
  transition: all 200ms ease-in-out;
  font-family: var(--default-font);
}

.rock:hover {
  color: #8594e4;
}

hr {
  color: #b7c0f4;
}

@media (max-width: 983px) {
  .about-info {
    font-size: 25px;
  }

  .sub-info-p {
    display: flex;
    justify-content: center;
    font-size: 15px;
  }
}

@media (max-width: 752px) {
  .about-info {
    font-size: 25px;
  }

  .sub-info-p {
    display: flex;
    justify-content: center;
    font-size: 15px;
  }

  .sub-info {
    background-color: var(--default-color);
    margin: 30px;
    border-radius: 30px;
    padding: 30px;
    margin: 5px !important;
    margin-bottom: 15px !important ;
  }
}

@media (max-width: 375px) {
  .about-info {
    font-size: 20px;
  }

  .sub-info-p {
    display: flex;
    justify-content: center;
    font-size: 10px;
  }

  .sub-info {
    background-color: var(--default-color);
    margin: 30px;
    border-radius: 30px;
    padding: 30px;
  }

  .kiss {
    padding: 0px;
  }

  .abort {
    padding: 0px;
    margin-bottom: 20px;
  }

  img {
    border-radius: 10px;
  }

  .logo-inst {
    width: 10%;
  }
}
