:root {
  --default-font: "Bellota Text", cursive;
  --default-color: #d5def5;
}

body {
  background-color: #fafbff;
}

.main-info {
  margin: 50px;
}

.home,
.about,
.contact,
.my-art,
.logo {
  font-family: var(--default-font);
}

.home,
.about,
.my-art,
.contact {
  transition: all 200ms ease;
}

.home:hover {
  transform: scale(0.9);
}

.about:hover {
  transform: scale(0.9);
}

.my-art:hover {
  transform: scale(0.9);
}

.contact:hover {
  transform: scale(0.9);
}

.col-md {
  display: flex;
  justify-content: space-around;
}

.avatar {
  max-width: 70%;
  border-style: solid;
  border-color: var(--default-color);
  border-radius: 50%;
  margin: 60px;
}

.heading {
  text-align: center;
  font-family: var(--default-font);
}

.link {
  display: flex;
  justify-content: center;
}

.contact-link {
  color: black;
  font-family: var(--default-font);
  font-weight: 400;
  text-decoration: none;
  font-size: 20px;
  padding: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--default-color);
  text-align: center;
  border-radius: 25px;
  transition: all 200ms ease-in-out;
}

.contact-link:hover {
  color: #8594e4;
}

.col-sm {
  display: flex;
  justify-content: space-evenly;
}

.shen {
  max-width: 70%;
  border-radius: 20px;
}

.gensh-heading,
.gensh-sub-heading {
  font-family: var(--default-font);
  text-align: center;
  font-style: italic;
}

.gensh-heading {
  font-size: 60px;
}

.gensh-sub-heading {
  font-size: 20px;
  opacity: 0.8;
}

.art-info-shen {
  margin-top: 20px;
  margin: 0 auto;
  max-width: 80%;
  background-color: var(--default-color);
  padding: 30px;
  border-radius: 30px;
  transition: 300ms ease-in-out;
}

.art-info-shen:hover {
  transform: scale(1.1);
}

.gensh-info {
  background-color: #b7c0f4;
  padding: 30px;
  border-radius: 30px;
  max-width: 70%;
}

.majesty {
  max-width: 70%;
  border-radius: 30px;
}

.art-info-majesty {
  background-color: var(--default-color);
  padding: 30px;
  border-radius: 30px;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 100px;
  transition: 300ms ease-in-out;
}

.art-info-majesty:hover {
  transform: scale(1.1);
}

.majesty-heading {
  font-family: var(--default-font);
  font-size: 60px;
  background-color: #b7c0f4;
  padding: 30px;
  border-radius: 30px;
  font-style: italic;
}

.link {
  display: flex;
  justify-content: center;
  margin: 30px;
  gap: 20px;
}

.logo-inst {
  max-width: 2%;
  height: auto;
}

.rock {
  font-size: 20px;
  font-style: italic;
  color: black;
  text-decoration: none;
  transition: all 200ms ease-in-out;
  font-family: var(--default-font);
}

.rock:hover {
  color: #8594e4;
}

hr {
  color: #b7c0f4;
}

@media (min-width: 360px) {
  .majesty-heading {
    font-size: 40px;
    text-align: center;
  }

  .gensh-heading {
    font-size: 35px;
    text-align: center;
  }

  .gensh-sub-heading {
    font-size: 25px;
    text-align: center;
  }

  .shen {
    margin-bottom: 10px;
  }
  .contact-link {
    padding: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .home,
  .about,
  .my-art,
  .contact {
    transition: all 200ms ease;
  }

  .home:hover {
    transform: scale(0.9);
  }

  .about:hover {
    transform: scale(0.9);
  }

  .my-art:hover {
    transform: scale(0.9);
  }

  .contact:hover {
    transform: scale(0.9);
  }

  .logo-inst {
    width: 10%;
  }
}
