:root {
  --default-font: "Bellota Text", cursive;
  --default-color: #d5def5;
}

body {
  background-color: #fafbff;
}

.home,
.about,
.contact,
.my-art,
.logo {
  font-family: var(--default-font);
}

.home,
.about,
.my-art,
.contact {
  transition: all 200ms ease;
}

.home:hover {
  transform: scale(0.9);
}

.about:hover {
  transform: scale(0.9);
}

.my-art:hover {
  transform: scale(0.9);
}

.contact:hover {
  transform: scale(0.9);
}

h1,
h2,
a {
  font-family: var(--default-font);
}

.work-info {
  margin: 40px;
}

.container {
  margin: 40px;
  margin-left: 20px;
}

h1 {
  text-align: center;
  font-size: 60px;
}

.row {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
}

.col-sm {
  display: flex;
  justify-content: space-evenly;
}

.zhon {
  max-width: 80%;
  height: auto;
}

.zhon-tart {
  max-width: 100%;
  height: auto;
  margin-right: 40px;
}

.float {
  max-width: 100%;
  height: auto;
}

.face {
  max-width: 85%;
  height: auto;
  margin-right: 20px;
}

.two {
  max-width: 100%;
  height: auto;
  margin-right: 40px;
}

.cat {
  max-width: 85%;
  height: auto;
}

.zhon,
.zhon-tart,
.float,
.face,
.two,
.cat {
  padding: 20px;
  background-color: var(--default-color);
  border-radius: 30px;
  transition: all 200ms ease-in-out;
}

.zhon:hover,
.zhon-tart:hover,
.float:hover,
.face:hover,
.two:hover,
.cat:hover {
  background-color: #c0d0f8;
  transform: scale(1.1);
}

h2 {
  text-align: center;
  font-size: 40px;
}

.more {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  padding: 20px;
  color: black;
  text-decoration: none;
  background-color: var(--default-color);
  max-width: 150px;
  font-size: 25px;
  border-radius: 20px;
  transition: all 200ms ease-in-out;
}

.more:hover {
  color: #8594e4;
}

.link {
  display: flex;
  justify-content: center;
  margin: 30px;
  gap: 20px;
}

.logo-inst {
  max-width: 2%;
  height: auto;
}

.rock {
  font-size: 20px;
  font-style: italic;
  color: black;
  text-decoration: none;
  transition: all 200ms ease-in-out;
  font-family: var(--default-font);
}

.rock:hover {
  color: #8594e4;
}

hr {
  color: #b7c0f4;
}

@media (max-width: 982px) {
  .work-info .container {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
  }
}

@media (max-width: 572px) {
  .zhon,
  .zhon-tart,
  .float,
  .face,
  .two,
  .cat {
    margin: 0%;
    padding: 10px;
  }

  .row {
    margin: 0%;
  }

  .col-sm {
    margin: 20px;
  }

  h2 {
    font-size: 30px;
    margin-top: 20px;
  }
}
